# Airflow configuration
airflow.cfg
airflow_login.py
dbinit.py
initdb.py
secrets.py

# Airflow sqlite databases
airflow.db

# Airflow temporary artifacts
airflow-core/src/airflow/git_version
airflow-core/src/airflow/ui/coverage/
# and legacy ones
airflow/git_version
airflow/ui/coverage/
logs/
airflow-webserver.pid
airflow-api-server.pid
standalone_admin_password.txt
warnings.txt
warn-summary-*.txt

# Ruff cache
.ruff-cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
!providers/fab/**/www/static/dist
!providers/edge3/**/www/dist
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage*.xml
*,cover
.hypothesis/
.pytest_cache

# Translations
*.mo
*.pot

# Django stuff:
# *.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache
/webserver_config.py

# Scrapy stuff:
.scrapy

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# nvm (Node Version Manager)
.nvmrc

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env
.env.local
.autoenv*.zsh

# virtualenv
.venv*
venv*
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# PyCharm
.idea/
*.iml

# Cursor
.cursor/

# vim
*.swp

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# OSX
.DS_Store

# SQL Server backups
*.bkp

# Spark
rat-results.txt

# Git stuff
# Kubernetes generated templated files
*.generated
*.tar.gz
scripts/ci/kubernetes/kube/.generated/airflow.yaml
scripts/ci/kubernetes/docker/requirements.txt

# Node & Webpack Stuff
*.entry.js
node_modules
npm-debug.log*
derby.log
metastore_db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/*
!.vscode/extensions.json
/.vite/
# Exclude the ui .vite dir
airflow-core/src/airflow/ui/.vite/
# And the legacy old files just in case
airflow/ui/.vite/
# Add the auth manager vite folder just in case
airflow-core/src/airflow/api_fastapi/auth/managers/simple/ui/.vite/
.pnpm-store
*.tsbuildinfo

# Airflow log files when airflow is run locally
airflow-*.err
airflow-*.out
airflow-*.log
airflow-*.pid
.airflow_db_initialised

# Generated doc files
_api
_build
_doctree
_inventory_cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Needed for CI Dockerfile.ci build system
.build
/tmp
/files

/hive_scratch_dir/
/.bash_aliases
/.bash_history
/.kube
/.inputrc
log.txt*

# Legacy Provider-related ignores
/airflow/providers/__init__.py

# Docker context files
/docker-context-files/*
!/docker-context-files/.README.md
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform variables
*.tfvars

# Might be generated when you build wheels
pip-wheel-metadata

.pypirc

# Dev files
packages.txt
Dockerfile.pmc

# Generated UI licenses
3rd-party-licenses/LICENSES-ui.txt
licenses/LICENSES-ui.txt

# Packaged breeze on Windows
/breeze.exe

# Generated out dir

/out

# files generated by memray
*.py.*.html
*.py.*.bin

# used to checkout target-branch in CI
/target-airflow

# This directory used for store autogenerated images
/images

# Dask Executor tests generate this directory
/tests/executors/dask-worker-space/

# airflow-build-dockerfile and correconding ignore file
airflow-build-dockerfile*

# Temporary ignore uv.lock until we integrate it fully in our constraint preparation mechanism
/uv.lock

# Ignore zip files https://github.com/apache/airflow/issues/46449
*.zip

_api/

#while running go tests inside the go-sdk, it can generate log files for dags, ignore all logs
go-sdk/**/*.log

# E2e tests
_e2e_test_report.json

# UV cache
.uv-cache/

# Allow logs folder in task-sdk-integration-tests (they logs folders are ignored above in general)
!/task-sdk-integration-tests/logs/
workers/dotnet/AirflowWorker/bin/Debug/net8.0/AirflowWorker
workers/dotnet/AirflowWorker/bin/Debug/net8.0/AirflowWorker.deps.json
workers/dotnet/AirflowWorker/bin/Debug/net8.0/AirflowWorker.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/AirflowWorker.pdb
workers/dotnet/AirflowWorker/bin/Debug/net8.0/AirflowWorker.runtimeconfig.json
workers/dotnet/AirflowWorker/bin/Debug/net8.0/AWSSDK.Core.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/AWSSDK.SQS.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/System.CommandLine.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/cs/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/de/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/es/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/fr/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/it/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/ja/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/ko/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/pl/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/pt-BR/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/ru/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/tr/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/zh-Hans/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/bin/Debug/net8.0/zh-Hant/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowW.378B3D7D.Up2Date
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowWorker.AssemblyInfo.cs
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowWorker.AssemblyInfoInputs.cache
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowWorker.assets.cache
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowWorker.csproj.AssemblyReference.cache
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowWorker.csproj.CoreCompileInputs.cache
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowWorker.csproj.FileListAbsolute.txt
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowWorker.dll
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowWorker.GeneratedMSBuildEditorConfig.editorconfig
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowWorker.genruntimeconfig.cache
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowWorker.GlobalUsings.g.cs
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowWorker.pdb
workers/dotnet/AirflowWorker/obj/Debug/net8.0/AirflowWorker.sourcelink.json
workers/dotnet/AirflowWorker/obj/Debug/net8.0/apphost
workers/dotnet/AirflowWorker/obj/Debug/net8.0/ref/AirflowWorker.dll
workers/dotnet/AirflowWorker/obj/Debug/net8.0/refint/AirflowWorker.dll
workers/dotnet/AirflowWorker/obj/AirflowWorker.csproj.nuget.dgspec.json
workers/dotnet/AirflowWorker/obj/AirflowWorker.csproj.nuget.g.props
workers/dotnet/AirflowWorker/obj/AirflowWorker.csproj.nuget.g.targets
workers/dotnet/AirflowWorker/obj/project.assets.json
workers/dotnet/AirflowWorker/obj/project.nuget.cache
workers/dotnet/AirflowWorker.Example/obj/AirflowWorker.Example.csproj.nuget.dgspec.json
workers/dotnet/AirflowWorker.Example/obj/AirflowWorker.Example.csproj.nuget.g.props
workers/dotnet/AirflowWorker.Example/obj/AirflowWorker.Example.csproj.nuget.g.targets
workers/dotnet/AirflowWorker.Example/obj/project.assets.json
workers/dotnet/AirflowWorker.Example/obj/project.nuget.cache
.gitignore
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/.msCoverageSourceRootsMapping_AirflowWorker.Tests
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/AirflowWorker
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/AirflowWorker.deps.json
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/AirflowWorker.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/AirflowWorker.pdb
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/AirflowWorker.runtimeconfig.json
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/AirflowWorker.Tests.deps.json
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/AirflowWorker.Tests.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/AirflowWorker.Tests.pdb
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/AirflowWorker.Tests.runtimeconfig.json
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/AWSSDK.Core.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/AWSSDK.SQS.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Castle.Core.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/CoverletSourceRootsMapping_AirflowWorker.Tests
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/FluentAssertions.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Moq.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/Newtonsoft.Json.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/System.CommandLine.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/testhost.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/xunit.abstractions.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/xunit.assert.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/xunit.core.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/xunit.execution.dotnet.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/xunit.runner.reporters.netcoreapp10.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/xunit.runner.utility.netcoreapp10.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/xunit.runner.visualstudio.testadapter.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/cs/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/de/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/es/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/fr/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/it/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ja/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ko/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/pl/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/pt-BR/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/ru/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/tr/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/zh-Hans/System.CommandLine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
workers/dotnet/AirflowWorker.Tests/bin/Debug/net8.0/zh-Hant/System.CommandLine.resources.dll
.gitignore
workers/dotnet/AirflowWorker.Tests/obj/*
workers/dotnet/AirflowWorker.Tests/bin/*
workers/dotnet/AirflowWorker/bin/*
workers/dotnet/AirflowWorker/obj/*
workers/dotnet/AirflowWorker.Example/bin/*
workers/dotnet/AirflowWorker.Example/obj/*  
workers/dotnet/AirflowWorker.Contracts/bin/*
workers/dotnet/AirflowWorker.Contracts/obj/*
workers/dotnet/baget-data/*
workers/dotnet/baget-data/baget.db
